@page "/error"

<PageTitle>error</PageTitle>

        <div class="container">
            <div class="row">
                <img src="error.gif">
                <h2>Ooops something has gone very wrong...</h2>
            </div>
        </div>




