@page "/NotFound"

<PageTitle>error</PageTitle>

        <div class="container">
            <div class="row">
                <h2>Ooops we couldn't find that</h2>
            </div>
        </div>




